# Cleaning diamonds data

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train =  pd.read_csv('INPUT/train.csv')

In [3]:
train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1   1   0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2   2   0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3   3   0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4   4   0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [5]:
train.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       40455 non-null  int64
 1   carat    40455 non-null  float64
 2   cut      40455 non-null  object
 3   color    40455 non-null  object
 4   clarity  40455 non-null  object
 5   depth    40455 non-null  float64
 6   table    40455 non-null  float64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
 10  price    40455 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 3.4+ MB